{% extends 'base.html' %}

{% block main %}
    <div class="grid-container1">
        <ul style="list-style-type:none;">
            <li><img class="profilepic" src="{{url_for('static',filename='img/profile photo.jpg')}}" alt="alt-text"></li>
            <li><div class="info">
                <h2>Tanique Raynor</h2>
                <h5>@Tantan</h5>
                <h5>Portmore, Jamaica</h5>
                <h5>Joined {{date}}</h5>
            </div></li>
        </ul>
    </div>
    <div class="grid-container2">
        <p>I am an enthusiatic young women with goals as high as the sky. </p>
        <table>
            <tr>
                <th>100</th>
                <th>500</th>
                <th>750</th>
            </tr>
            <tr>
                <th>Posts</th>
                <th>Followers</th>
                <th>Following</th>
            </tr>
            <tr>
                <th></th>
                <th> <button class="follow-btn" type="button">Follow</button></th>
                <th></th>
            </tr>
        </table>
    </div>
   
   

{% endblock %}