{% extends 'base.html' %}

{% block main %}
    <div class="grid-container1">
        <ul style="list-style-type:none;">
            <li><img class="profilepic" src="{{url_for('static',filename='img/profile photo.jpg')}}" alt="alt-text"></li>
            <li><div class="info">
                <h2>Tanique Raynor</h2>
                <h5>@Tantan</h5>
                <h5>Kingston, Jamaica</h5>
                <h5>Joined {{date}}</h5>
            </div></li>
        </ul>
    </div>
    <div class="grid-container2">
        <p>I'm a simple person just trying her best to get a head in life </p>
        <table>
            <tr>
                <th>620</th>
                <th>450</th>
                <th>1000</th>
            </tr>
            <tr>
                <th>Posts</th>
                <th>Followers</th>
                <th>Following</th>
            </tr>
            <tr>
                <th></th>
                <th> <button class="follow-btn">Follow</button></th>
                <th></th>
            </tr>
        </table>
    </div>
   
   

{% endblock %}